$darken: #000000;
$lighten: #ffffff;
$body: #fff1ed;
$link-2: #eb828f;
$link-1: #ff6c7e;
$submit: #f695a0;
$arrow-1: #ff8091;
$arrow-2: #f694a0;
$shadow: #ffeef0;

$mobile: 320px;
$mobile-2: 640px;
$tablet: 1024px;
